include includes/header.pug
div(class="container-fluid")
    div  
      h2= title
      p
        span.
         My name is Kamal el Azizi Alaoui </br>
         I am a future web developer.</br>
         here are some of my simple work linked below. </br>
        a(href='https://github.com/kamal1577/first_website') this is my "first_website" </br>
           
        span.
          more projects coming up soon and will be added here.</br>
          I am still learning javascript ...
      
      
        
     
include includes/footer.pug

      
